.about-us__crop {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  height: 320px;
  overflow: hidden;
}

.about-us__text-block {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 460px;
  background-color: $main-color;
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
}

.about-us__title {
  display: block;
  margin-bottom: 25px;
  font-size: 22px;
  font-style: italic;
}

.about-us__text {
  margin: 0;
  margin-bottom: 15px;
  text-indent: 30px;
  line-height: 20px;
  text-align: left;

  &--italic {
    font-style: italic;
    margin-bottom: 25px;
  }
}

.about-us__list {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  padding-left: 35px;
  text-align: left;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .about-us {
    position: relative;
  }

  .about-us__crop {
    top: 0;
    left: 20;
    position: absolute;
    max-width: none;
    height: auto;
    z-index: -1;
  }

  .about-us__text-block {
    margin-top: 50px;
    margin-right: 0;
    margin-left: auto;
    max-width: 420px;
  }

  .about-us__title {
    font-size: 26px;
  }

  .about-us__text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;

  }

  .about-us__list {
    line-height: 26px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .about-us__text-block {
    max-width: 480px;
  }
}


