
.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #791075;
  border-right: 1px solid #791075;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #111;
  background-color: #fff;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 20px;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #791075;
    border-color: none;
    outline: none;
    transition: .3s linear;
  }

  &:active {
    color: #111;
    background-color: #fff;
  }
}


