
.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: 1px solid #111;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #111;
  background-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 18px;
  padding-bottom: 17px;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $main-color;
    outline: none;
    transition: .3s linear;
  }

  &:active {
    color: #111;
    background-color: #fff;
  }

  &--pink:hover,
  &--pink:focus {
    color: #fff;
    background-color: $pink-color;
  }
}

@media (min-width: $tablet-width) {
  .btn {
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .btn {
    font-size: 18px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15x;
    padding-bottom: 13px;
  }
}
