.gallery {
  margin-top: 10px;
  margin-bottom: 25px;
}

.gallery__img-box {
  margin-bottom: 10px;
}

.gallery__img {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 530px;
  height: auto;
  background-color: $main-color;

  &--main-img {
    display: block;
  }
}

.gallery__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.gallery__btn-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery__btn {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;

  display: block;
  cursor: pointer;
  border: none;
  width: 65px;
  height: 50px;
  background-color: $main-color;
  background-size: cover;

  &:nth-child(1) {
    outline: 2px solid $main-color;
  }

  &--flowers-stems:nth-child(1) {
    background-image: url('../img/flowers-stems/mak.jpg');
  }
  &--flowers-stems:nth-child(2) {
    background-image: url('../img/flowers-stems/bonica.jpg');
  }
  &--flowers-stems:nth-child(3) {
    background-image: url('../img/flowers-stems/roza-bonika.jpg');
  }
  &--flowers-stems:nth-child(4) {
    background-image: url('../img/flowers-stems/roza-white.jpg');
  }
  &--flowers-stems:nth-child(5) {
    background-image: url('../img/flowers-stems/roza-jasny.jpg');
  }
  &--flowers-stems:nth-child(6) {
    background-image: url('../img/flowers-stems/roza-bordo.jpg');
  }
  &--flowers-stems:nth-child(7) {
    background-image: url('../img/flowers-stems/roza-delicate.jpg');
  }
  &--flowers-stems:nth-child(8) {
    background-image: url('../img/flowers-stems/white-pewonia.jpg');
  }
  &--flowers-stems:nth-child(9) {
    background-image: url('../img/flowers-stems/roza-eng.jpg');
  }
  &--flowers-stems:nth-child(10) {
    background-image: url('../img/flowers-stems/brzoskwinia.jpg');
  }
  &--flowers-stems:nth-child(11) {
    background-image: url('../img/flowers-stems/roza-pink.jpg');
  }
  &--flowers-stems:nth-child(12) {
    background-image: url('../img/flowers-stems/mega-kwiat.jpg');
  }

  &--figures:nth-child(1) {
    background-image: url('../img/figures/poli-1.jpg');
  }
  &--figures:nth-child(2) {
    background-image: url('../img/figures/poli-2.jpg');
  }
  &--figures:nth-child(3) {
    background-image: url('../img/figures/poli-3.jpg');
  }
  &--figures:nth-child(4) {
    background-image: url('../img/figures/poli-4.jpg');
  }
  &--figures:nth-child(5) {
    background-image: url('../img/figures/poli-5.jpg');
  }
  &--figures:nth-child(6) {
    background-image: url('../img/figures/poli-6.jpg');
  }
  &--figures:nth-child(7) {
    background-image: url('../img/figures/poli-7.jpg');
  }
  &--figures:nth-child(8) {
    background-image: url('../img/figures/poli-8.jpg');
  }
  &--figures:nth-child(9) {
    background-image: url('../img/figures/poli-9.jpg');
  }
  &--figures:nth-child(10) {
    background-image: url('../img/figures/poli-10.jpg');
  }
  &--figures:nth-child(11) {
    background-image: url('../img/figures/poli-11.jpg');
  }
  &--figures:nth-child(12) {
    background-image: url('../img/figures/poli-12.jpg');
  }

  &--flowers-sets:nth-child(1) {
    background-image: url('../img/flowers-sets/lodz.jpg');
  }
  &--flowers-sets:nth-child(2) {
    background-image: url('../img/flowers-sets/fbbu.jpg');
  }
  &--flowers-sets:nth-child(3) {
    background-image: url('../img/flowers-sets/niebieskie.jpg');
  }
  &--flowers-sets:nth-child(4) {
    background-image: url('../img/flowers-sets/jakubow.jpg');
  }
  &--flowers-sets:nth-child(5) {
    background-image: url('../img/flowers-sets/roza-krem.jpg');
  }
  &--flowers-sets:nth-child(6) {
    background-image: url('../img/flowers-sets/kwiat.jpg');
  }
  &--flowers-sets:nth-child(7) {
    background-image: url('../img/flowers-sets/fiolet.jpg');
  }
  &--flowers-sets:nth-child(8) {
    background-image: url('../img/flowers-sets/zefir.jpg');
  }
  &--flowers-sets:nth-child(9) {
    background-image: url('../img/flowers-sets/granat.jpg');
  }
  &--flowers-sets:nth-child(10) {
    background-image: url('../img/flowers-sets/coaflui.jpg');
  }
  &--flowers-sets:nth-child(11) {
    background-image: url('../img/flowers-sets/fuksja.jpg');
  }
  &--flowers-sets:nth-child(12) {
    background-image: url('../img/flowers-sets/biale.jpg');
  }

  &--rosettes:nth-child(1) {
    background-image: url('../img/rosettes/ros-1.jpg');
  }
  &--rosettes:nth-child(2) {
    background-image: url('../img/rosettes/ros-2.jpg');
  }
  &--rosettes:nth-child(3) {
    background-image: url('../img/rosettes/ros-3.jpg');
  }
  &--rosettes:nth-child(4) {
    background-image: url('../img/rosettes/ros-4.jpg');
  }
  &--rosettes:nth-child(5) {
    background-image: url('../img/rosettes/ros-5.jpg');
  }
  &--rosettes:nth-child(6) {
    background-image: url('../img/rosettes/ros-6.jpg');
  }
  &--rosettes:nth-child(7) {
    background-image: url('../img/rosettes/ros-7.jpg');
  }
  &--rosettes:nth-child(8) {
    background-image: url('../img/rosettes/ros-8.jpg');
  }
  &--rosettes:nth-child(9) {
    background-image: url('../img/rosettes/ros-9.jpg');
  }
  &--rosettes:nth-child(10) {
    background-image: url('../img/rosettes/ros-10.jpg');
  }
  &--rosettes:nth-child(11) {
    background-image: url('../img/rosettes/ros-11.jpg');
  }
  &--rosettes:nth-child(12) {
    background-image: url('../img/rosettes/ros-12.jpg');
  }

  &--shopwindow:nth-child(1){
    background-image: url('../img/shopwindow/sw-1.jpg');
  }
  &--shopwindow:nth-child(2){
    background-image: url('../img/shopwindow/sw-2.jpg');
  }
  &--shopwindow:nth-child(3){
    background-image: url('../img/shopwindow/sw-3.jpg');
  }
  &--shopwindow:nth-child(4){
    background-image: url('../img/shopwindow/sw-4.jpg');
  }
  &--shopwindow:nth-child(5){
    background-image: url('../img/shopwindow/sw-5.jpg');
  }
  &--shopwindow:nth-child(6){
    background-image: url('../img/shopwindow/sw-6.jpg');
  }
  &--shopwindow:nth-child(7){
    background-image: url('../img/shopwindow/sw-7.jpg');
  }
  &--shopwindow:nth-child(8){
    background-image: url('../img/shopwindow/sw-8.jpg');
  }
  &--shopwindow:nth-child(9){
    background-image: url('../img/shopwindow/sw-9.jpg');
  }
  &--shopwindow:nth-child(10){
    background-image: url('../img/shopwindow/sw-10.jpg');
  }
  &--shopwindow:nth-child(11){
    background-image: url('../img/shopwindow/sw-11.jpg');
  }
  &--shopwindow:nth-child(12){
    background-image: url('../img/shopwindow/sw-12.jpg');
  }

  &--wall:nth-child(1) {
    background-image: url('../img/flowers-wall/wall-1.jpg');
  }
  &--wall:nth-child(2) {
    background-image: url('../img/flowers-wall/wall-2.jpg');
  }
  &--wall:nth-child(3) {
    background-image: url('../img/flowers-wall/wall-3.jpg');
  }
  &--wall:nth-child(4) {
    background-image: url('../img/flowers-wall/wall-4.jpg');
  }
  &--wall:nth-child(5) {
    background-image: url('../img/flowers-wall/wall-5.jpg');
  }
  &--wall:nth-child(6) {
    background-image: url('../img/flowers-wall/wall-6.jpg');
  }
    &--wall:nth-child(7) {
    background-image: url('../img/flowers-wall/wall-7.jpg');
  }
  &--wall:nth-child(8) {
    background-image: url('../img/flowers-wall/wall-8.jpg');
  }
  &--wall:nth-child(9) {
    background-image: url('../img/flowers-wall/wall-9.jpg');
  }
  &--wall:nth-child(10) {
    background-image: url('../img/flowers-wall/wall-10.jpg');
  }
  &--wall:nth-child(11) {
    background-image: url('../img/flowers-wall/wall-11.jpg');
  }
  &--wall:nth-child(12) {
    background-image: url('../img/flowers-wall/wall-12.jpg');
  }

  &--bouquet:nth-child(1) {
    background-image: url('../img/bouquet/b-1.jpg');
  }
  &--bouquet:nth-child(2) {
    background-image: url('../img/bouquet/b-2.jpg');
  }
  &--bouquet:nth-child(3) {
    background-image: url('../img/bouquet/b-3.jpg');
  }
  &--bouquet:nth-child(4) {
    background-image: url('../img/bouquet/b-4.jpg');
  }
  &--bouquet:nth-child(5) {
    background-image: url('../img/bouquet/b-5.jpg');
  }
  &--bouquet:nth-child(6) {
    background-image: url('../img/bouquet/b-6.jpg');
  }
  &--bouquet:nth-child(7) {
    background-image: url('../img/bouquet/b-7.jpg');
  }
  &--bouquet:nth-child(8) {
    background-image: url('../img/bouquet/b-8.jpg');
  }
  &--bouquet:nth-child(9) {
    background-image: url('../img/bouquet/b-9.jpg');
  }
  &--bouquet:nth-child(10) {
    background-image: url('../img/bouquet/b-10.jpg');
  }
  &--bouquet:nth-child(11) {
    background-image: url('../img/bouquet/b-11.jpg');
  }
  &--bouquet:nth-child(12) {
    background-image: url('../img/bouquet/b-12.jpg');
  }

  &:hover,
  &:focus {
    outline: 2px solid $main-color;
  }
}

.gallery__info-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 510px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: $main-color;
  line-height: 24px;
}

.gallery__text {
  margin: 0;
  margin-bottom: 15px;
  text-indent: 20px;
  text-align: justify;
}

.gallery__price-box {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery__price-item {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 25px;
  position: relative;
  display: block;
  color: #fff;
  font-weight: 300;
  font-size: 18px;

  &:nth-child(3) {
    padding-left: 21px;
  }
}

.gallery__price-svg {
  fill: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}















@media (min-width: $tablet-width) {
  .gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gallery__title {
    margin-bottom: 20px;
    font-size: 28px;
    width: 100%;
  }

  .gallery__img-box {
    margin-bottom: 0;

    &--figures,
    &--rosettes {
      overflow: hidden;
      height: 337px;
    }
  }

  .gallery__img {
    max-width: 450px;
  }

  .gallery__btn-box {
    margin: 0;
    max-width: 270px;
    justify-content: space-between;
  }

  .gallery__btn {
    margin: 0;
    margin-bottom: 8px;
    width: 85px;
    height: 78px;
  }

  .gallery__info-box {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }
}










@media (min-width: $desktop-width) {
  .gallery {
    margin-top: 30px;
  }

  .gallery__title {
    margin-bottom: 25px;
    font-size: 32px;
  }

  .gallery__img-box {

    &--figures,
    &--rosettes {
      height: 427px;
    }
  }

  .gallery__img {
    max-width: 570px;

    &--figures,
    &--rosettes {
      max-width: 560px;
    }
  }

  .gallery__btn-box {
    max-width: 365px;

    &--figures,
    &--rosettes {
      max-width: 375px;
    }
  }

  .gallery__btn {
    margin-bottom: 9px;
    width: 116px;
    height: 100px;

    &--figures,
    &--rosettes {
      width: 119px;
    }
  }

  .gallery__price-item {
    margin-left: 15px;
    margin-right: 15px;
  }
}
