.main-contact__wrapper {
  margin-bottom: 35px;
  position: relative;
  width: 100%;
}

.main-contact__line {
  position: absolute;
  display: block;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #111;
  z-index: -1;
}

.main-contact__title {
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  display: block;
  width: fit-content;
  font-size: 38px;
  font-weight: 400;
  background-color: #fff;
}

.main-contact__info-block {
  margin-bottom: 35px;
}

.main-contact__text-block {
  margin: 0;
  line-height: 28px;
  font-weight: 400;
}

.main-contact__text-title {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.main-contact__contact-block {
  display: block;
  margin: 0;
}

.main-contact__contact {
  padding-left: 20px;
  position: relative;
  color: #111;
  line-height: 28px;
  font-weight: 400;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--cotact-page {
    color: #fff;
  }

  &--contact-page {
    color: #fff;
  }
}

.main-contact__logo-svg {
  display: block;
  position: absolute;
  left: 0;
  bottom: 8%;

  &--contact-page {
    fill: #fff;
  }
}

.main-contact__text {
  font-size: 14px;
  line-height: 22px;
}

.main-contact__form {
  margin-bottom: 25px;
}

.main-contact__connect-box {
  margin-bottom: 35px;
}

.main-contact__connect-title,
.main-contact__connect-text {
  line-height: 22px;
}

.main-contact__connect-title {
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
  font-weight: 400;
}

.main-contact__connect-text {
  margin: 0;
  color: #afafaf;
}

.main-contact__map {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-contact__map-iframe {
    width: 340px;
    height: 270px;
    border: 0;
  }

  .main-contact {
    position: relative;
  }

  .main-contact__title {
    margin-left: 35px;
    font-size: 32px;
  }

  .main-contact__info-block {
    width: 50%;
    text-align: left;
  }

  .main-contact__main-wrapper {
    display: flex;
  }

  .main-contact__form {
    width: 50%;

    &--contact-page {
      width: 100%;
    }
  }

  .main-contact__map {
    position: absolute;
    display: block;

    top: 240px;
    left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .main-contact__info-block {
    padding-left: 20px;
  }

  .main-contact__map {
    left: 55px;
  }

  .main-contact__map-iframe {
    width: 440px;
  }

  .main-contact__form {
    &--contact-page {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
  }
}
