@keyframes bounce {
  0% {transform: translateY(-800px);}
  100% {transform: translateY(0);}
}

.main-nav {
  display: none;
  position: relative;
  //z-index: -1;
  order: 3;

  &--no-js {                //No-Js
    display: block;
  }

  &--open {      //Js-open main menu list
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
  }
}

.main-nav__list {
  @include reset-list;
}

.main-nav__item {
  margin-left: -10px;
  margin-right: -10px;

  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

.main-nav__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #111;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin-left: auto;
    display: block;
    margin-top: 18px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    margin: 0;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    border: none;

    &:nth-child(1) {
      margin-left: 10px;
    }

    &:nth-child(5) {
      margin-right: 10px;
    }
  }

  .main-nav__link {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    margin-left: 45px;
    font-size: 20px;

    &:nth-child(1) {
      margin-left: 20px;
    }

    &:nth-child(5) {
      margin-right: 20px;
    }
  }

  .main-nav__link {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
