#main {
  position: relative;
  height: 80vh;
}

.main a {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

#main .main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.main .main-message {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.main .main-message .title {
  font-size: 236px;
  font-weight: 300;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main .main-message .title-mail {
  font-size: 150px;
}


.main .main-message .main-text {
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.text {
  margin: 0;
  font-weight: 300;
  color: #211b19;
  background: #fff;
  display: inline-block;
  display: block;
}


@media only screen and (max-width: 768px) {
  .main .main-message {
    height: 148px;
    margin: 0px auto 10px;
  }
  .main .main-message .title {
    font-size: 86px;
  }

  .main .main-message .title-mail {
    font-size: 70px;
  }

  .main .main-message .main-text {
    font-size: 16px;
  }

  .text {
    font-size: 14px;
  }

  .main a {
    padding: 7px 15px;
    font-size: 14px;
  }
}
