.slider__main-block {
  margin-bottom: 45px;
}

.slider {
  max-width: 655px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.slider__img {
  display: block;
  background-color: $main-color;
}

.slider__items {
  position: relative;
  overflow: hidden;
}

.slider__item {
  position: relative;
  display: none;
  transition: transform 0.6s ease;
  backface-visibility: hidden;
}

.slider__item_active,
.slider__item_next,
.slider__item_prev {
  display: block;
}

.slider__item_next,
.slider__item_prev {
  position: absolute;
  top: 0;
}

.slider__item_next.slider__item_left,
.slider__item_prev.slider__item_right {
  transform: translateX(0);
}

.slider__item_next,
.slider__item_right.slider__item_active {
  transform: translateX(100%);
}

.slider__item_prev,
.slider__item_left.slider__item_active {
  transform: translateX(-100%);
}

.slider__control {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__text-block {
  margin-left: auto;
  margin-right: auto;
  max-width: 635px;
  padding-bottom: 15px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $main-color;
}

.slider__title,
.slider__text {
  font-style: italic;
  color: #fff;
}

.slider__title {
  display: block;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 400;
}

.slider__text {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 300;
  line-height: 24px;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-style: italic;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .slider__main-block {
    margin-top: 20px;
    display: flex;
  }

  .slider {
    min-width: 500px;
    margin-left: 0px;
  }

  .slider__text-block {
    text-align: left;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  .slider__title {
    text-align: center;
    margin-bottom: 8px;
    font-size: 16px;
  }

  .slider__text {
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    line-height: 18px;
    text-indent: 10px;
  }

  .slider__list {
    list-style: circle;
    padding-left: 25px;
    font-size: 12px;
    line-height: 18px;
  }

  .slider__list-item {
    margin-bottom: 3px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    min-width: 655px;
  }

  .slider__text-block {
    padding-top: 15px;
  }

  .slider__title {
    margin-bottom: 15px;
    font-size: 22px;
  }

  .slider__text {
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 24px;
    text-indent: 10px;
  }

  .slider__list {
    padding-left: 50px;
    font-size: 14px;
    line-height: 22px;
  }

  .slider__list-item {
    margin-bottom: 8px;
  }
}
