body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
  color: #111;
  font-style: normal;
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
