@import"variables.scss";
@import"mixins.scss";
@import"scaffolding.scss";

@import"blocks/container.scss";
@import"blocks/btn.scss";

@import"blocks/slider.scss";
@import"blocks/pages-header.scss";
@import"blocks/main-nav.scss";
@import"blocks/offer.scss";
