@import"variables.scss";
@import"mixins.scss";
@import"scaffolding.scss";
@import"blocks/btn.scss";

@import"blocks/container.scss";
@import"blocks/slider.scss";
@import"blocks/main-nav.scss";
@import"blocks/pages-header.scss";
@import"blocks/offer.scss";
@import"blocks/main-contact.scss";
@import"blocks/form.scss";
@import"blocks/page-footer.scss";


@import"blocks/about-us.scss";
@import"blocks/contact.scss";

@import"blocks/message-block.scss";
